/** To make fixed top header smoothly **/
body { 
	padding-top:70px; 
  background-color: #D8E6E7;
}

.axis {
    font: 10px sans-serif;
  }

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Lato;
  font-size: 13px;
}

.tick line {
  opacity: 0.2;
}

/*-------------svg border----------------------*/
/*svg {
    height: 500px;
    border: solid 1px #CADBE9;
    border-bottom: solid 1px #881600;
    padding: 0px;
}*/

svg {
    border: 1px solid #999;
    filter: drop-shadow( -5px -5px 5px #000 );
    -webkit-filter: drop-shadow( 2px -1px 5px #000 );
}

/*-----------------Input-file-------------------*/
btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/*---------------Customize HR element------------------*/
/*hr {
  margin-top: 0px;
  margin-bottom: 0px;
}*/

/*--------------------Header-----------------*/
header .navbar{
  background-color: #011638;
  border-color: #4FB0C6;
}

/*d3-donut-chart {
  display: inline-block;
  width: 100%;
  text-align: center;
}*/

/*----------------Sortable Bar--------------------------*/
/*.bar rect {
  fill: steelblue;
}

.bar text {
  fill: white;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}*/

/*----------------Bar Chart--------------------------*/
/*.chart {
  height: 400px;
  position: relative;
  background: #eee;
  padding: 3px;
}

.chart div {
  display: inline-block;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: left;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}

.chart div:hover {
  background-color: #E53A40;
}*/
/*----------------d3 ToolTip--------------------------*/
/*.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}*/

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\276e";
  position: absolute;
  text-align: center;
  left: -10px;
}*/

/* Style northward tooltips differently */
/*.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/