body {
  font-family: helvetica, sans-serif;
  font-size: 10px;
}

svg {
	margin: 0 auto; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}