/** To make fixed top header smoothly **/
body { 
	padding-top:70px; 
  /*background-color: #D8E6E7;*/
}

pre {
  background-color: #272822;
  color: white;
}

.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*--------------------Header-----------------*/
header .navbar{
  background-color: #011638;
  border-color: #4FB0C6;
  color: white;
}