/** To make fixed top header smoothly **/
/*body { 
	padding-top:70px; 
}

pre {
  background-color: #272822;
  color: white;
}

.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
}*/

/*--------------------Header-----------------*/
/*header .navbar{
  background-color: #011638;
  border-color: #4FB0C6;
  color: white;
}*/

hr.footer-hr {
    border-color: rgba(34, 34, 34, 0.05);
    max-width: 100%;
}

.section.example {
  margin-top: 50px;
}

.section.example section {
  padding-top: 0px;
  position: relative;
}

.section.example section pre {
  padding: 0px;
}

.section.example section pre code {
  background-color: #f5f5f5;
}

.example-edit {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 15px;
}

.example-edit a {
  color: #2aa198;
}