.olControlPanel div { 
	display: inline;
	float: left;
	width:  24px;
	height: 24px;
	margin: 0px 10px 0px 0px;
}
.olControlPanel .olControlMouseDefaultsItemActive { 
	background-image: url(images/pan_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlMouseDefaultsItemInactive { 
	background-image: url(images/pan_off.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeaturePointItemActive {
	background-image: url(images/draw_point_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeaturePointItemInactive {
	background-image: url(images/draw_point_off.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeaturePathItemActive {
	background-image: url(images/draw_line_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeaturePathItemInactive {
	background-image: url(images/draw_line_off.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeaturePolygonItemActive {
	background-image: url(images/draw_polygon_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeaturePolygonItemInactive {
	background-image: url(images/draw_polygon_off.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeatureRegularPolygonItemActive {
	background-image: url(images/draw_regular_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDrawFeatureRegularPolygonItemInactive {
	background-image: url(images/draw_regular_off.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlInsertIconItemActive {
	background-image: url(images/insert_icon_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlInsertIconItemInactive {
	background-image: url(images/insert_icon_off.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlReshapeFeatureItemActive {
	background-image: url(images/reshape_feature_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlReshapeFeatureItemInactive {
	background-image: url(images/reshape_feature_off.png);
	background-repeat: no-repeat;
}

.olControlPanel .olControlResizeFeatureItemActive {
	background-image: url(images/resize_feature_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlResizeFeatureItemInactive {
	background-image: url(images/resize_feature_off.png);
	background-repeat: no-repeat;
}

.olControlPanel .olControlDragFeatureItemActive {
	background-image: url(images/drag_feature_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlDragFeatureItemInactive {
	background-image: url(images/drag_feature_off.png);
	background-repeat: no-repeat;
}

.olControlPanel .olControlRotateFeatureItemActive {
	background-image: url(images/rotate_feature_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlRotateFeatureItemInactive {
	background-image: url(images/rotate_feature_off.png);
	background-repeat: no-repeat;
}

.olControlPanel .olControlFormatFeatureItemActive {
	background-image: url(images/format_feature_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlFormatFeatureItemInactive {
	background-image: url(images/format_feature_off.png);
	background-repeat: no-repeat;
}

.olControlPanel .olControlRemoveFeatureItemActive {
	background-image: url(images/remove_feature_on.png);
	background-repeat: no-repeat;
}
.olControlPanel .olControlRemoveFeatureItemInactive {
	background-image: url(images/remove_feature_off.png);
	background-repeat: no-repeat;
}