/*----------  AXIS  ----------*/
.axis {
    font: 10px sans-serif;
  }

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.tick line {
	opacity: 0.2;
}

/*----------  TABLE  ----------*/
.c9-table.c9-table-header {
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-align: left;
	padding: 10px 20px;
	background-size: 100%;
	background: #ea6153;
	border-top: 1px solid #858d99;
}

.c9-table.c9-table-body {
	border-collapse: separate;
	background: #fff;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	overflow:auto;
}

.c9-table-container{
	width: 100%;
	overflow-y: auto;
	height: 300px;
	border: 1px solid #e3e3e3;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.c9-table-container .c9-table-body{
	width: 100%;
	overflow: initial;
}

.c9-table.c9-table-header thead {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.c9-table.c9-table-header thead th {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-align: left;
	padding: 10px 20px;
	background-size: 100%;
	background: #ea6153;
	border-top: 1px solid #858d99;
}
.c9-table.c9-table-header thead th:first-child {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}
.c9-table.c9-table-header thead th:last-child {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.c9-table.c9-table-body tbody tr td {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #5f6062;
	font-size: 12px;
	padding: 10px 20px;
	border-bottom: 1px solid #e0e0e0;
}

.c9-stripe tbody tr:nth-child(2n) {
  	background: #f0f3f5;
}

.c9-table.c9-table-body tbody tr:last-child td {
  	border-bottom: none;
}
.c9-table.c9-table-body tbody tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	}
.c9-table.c9-table-body tbody tr:last-child td:last-child {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.c9-table.c9-table-body tbody:hover > tr td {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}

.c9-table.c9-table-body tbody:hover > tr:hover td {
	text-shadow: none;
	color: #2d2d2d;
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}

/*----------  SCROLL BAR  ----------*/
.c9-table-container::-webkit-scrollbar {
    width: 6px;
} 
.c9-table-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
.c9-table-container::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/*----------  TOOLTIP  ----------*/
.c9-custom-tooltip-container {
	line-height: 1.2;
    font-weight: bold;
    padding: 12px;
    border-radius: 2px;
    font-size: 10px;
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.6);
}

.c9-custom-tooltip-container strong {
	color: red;
}

.c9-custom-tooltip-container.c9-tooltip-left::before {
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25c4";
    position: absolute;
    top: 50%;
    right:100%;
    margin-right:-2px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);

	/*margin: -1px 0 0 0;
    top: 100%;
    left: 0;*/
}

.c9-custom-tooltip-container.c9-tooltip-right::after {
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25ba";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -2px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);

	/*margin: -1px 0 0 0;
    top: 100%;
    left: 0;*/
}

.c9-custom-tooltip-container.c9-tooltip-top::after {
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25bc";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top:-2px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);

	/*margin: -1px 0 0 0;
    top: 100%;
    left: 0;*/
}

.c9-custom-tooltip-container.c9-tooltip-bottom::after {
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25b2";
    position: absolute;
    bottom:100%;
    left: 50%;
    margin-bottom: -2px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);

	/*margin: -1px 0 0 0;
    top: 100%;
    left: 0;*/
}

/*----------  SUBCHART  ----------*/
.c9-subchart-brush .extent {
	/*stroke: #fff;*/
	/*fill: #cfd6d9;*/
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.c9-subchart-axis {
    font: 10px sans-serif;
  }

.c9-subchart-axis path,
.c9-subchart-axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.tick line {
	opacity: 0.2;
}

/*---------- MAP ---------*/
.ol-viewport .ol-overlay-container {
	margin-bottom: 50px;
}

.c9-map-tooltip-container {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}
